@import '../scss/common';

header.logo {
  background-color:#001936;
  background-position: center;
  height: 35vw;
  max-height: 300px;
  position:relative;
  overflow: hidden;
  div.sand {
    @include fit-parent();
    box-shadow: 0 0 20vw 0 #00213c inset;
    animation: bottom-parallax-frames 5s ease-in-out 0s infinite alternate;
    background-image: url("/static/sand.png");
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin:0;
    width:100%;
    text-align:center;
    transform-origin: 0% 50%;
    animation: float-deep-frames 5s ease-in-out 0s infinite alternate;
    img {
      max-width:90%;
    }
  }
}

@keyframes bottom-parallax-frames {
    0% {
      transform: perspective(300px) translate3d(0, 0, 0px);
    }
    100% {
      transform: perspective(300px) translate3d(0, 0, 20px);
    }
};

@keyframes float-deep-frames {
    0% {
      //drop-shadow(0 0 0 rgba(#97cfff,0)) 
      filter: drop-shadow(-5.5vw 5.5vw 1.2vw rgba(#000,0.8)) blur(0px);
      opacity: 1;
      transform: perspective(300px) translate3d(-50%, -50%, 0px);
    }
    100% {
      //drop-shadow(0 0 2vw rgba(#97cfff,1))
      filter: drop-shadow(-1.5vw 1.5vw 1vw rgba(#000,0.8))  blur(1.5px);
      //filter: drop-shadow(0 0 25px 5px rgba(#729cc0,1)) drop-shadow(-5.5vw 5.5vw 1.2vw rgba(#000,0.9));
      opacity: 0.6;
      transform: perspective(300px) translate3d(-50%, -50%, -20px);
    }
};